{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}
<h1>Welcome {{username}}</h1>

<table>
    <thead>
        <tr>
            <th>stock</th>
            <th>shares</th>
            <th>price</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ quotes[stock.symbol]["price"] | usd }}</td>
                <td>{{ (quotes[stock.symbol]["price"] * stock.total_shares) | usd }}</td>
            </tr>
        {% endfor %}

    <th  colspan="3">cash</th>
    <th>{{cashRemaining | usd}}</th>

    </tbody>



</table>
{% endblock %}